
/*body * {
  transition: all 0.5s;
}*/

.service_box_container {
  width: 80%;
  margin: 50px auto;
  padding: 5px;
  padding-left: 20px;
  padding-right: 0;
  text-align: center;
}

.box {
  width: 270px;
  height: 350px;
  margin: 0.24%;
  padding: 15px;

  display: inline-block;
  background: #111;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
}
.box .icon-cont {
  border: 6px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;

  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}
.icon-cont img {

  margin-top: 10px;
}
.box:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.box h3 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0);

  position: absolute;
  top: 125px;
  width: 70%;
  left: 17%;
  z-index: 4;
}
.box a.expand {
  width: 35px;
  height: 35px;
  background: #fff;
  font-weight: 600;
  color: #111;
  display: block;
  margin: 15px auto 25px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;

}
a
{
  text-decoration: none!important;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic);
@import url(https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#page img{
  width: 100%;

}
#page{
  width: 70%;
  margin: 30px auto;
  background: #fff;
}
.content{
  text-align: center;
}
h2{
  padding-top: 15px;
  color: #111;
  text-transform: uppercase;
}
small{
  color: #111;
}

a{
  color: #111;
  text-decoration: none;
  transition: .3s;
  -webkit-transition: .3s;
}
a:hover{
  color: #468089;
}
.design{
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 12px;
  opacity: .1;
}

/* Style product */
.product-items{
  width: 100%;
}
.product-items .product-item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #111;
  margin-top: 30px;
  margin-right: 50px;
  transition: .5s;
  -webkit-transition: .5s;
}
.product-items .product-item:last-child{
  margin-right: 0;
}
.product-items .product-item:hover{
  color: #A9A9A9;
}
.product-items .product-item  .item-wrap{
  width: 130px;
  padding: 6px;
  border: 2px solid;
  position: relative;
}
.product-items .product-item  > .item-wrap,
.product-items .product-item  > .item-wrap img,
.product-items .product-item  .item-wrap .wrap-qtt{
  border-radius: 50%;
  line-height: 0;
}
.product-items .product-item  > .item-wrap img{
  opacity: .8;
  transition: .5s;
  -webkit-transition: .5s;
}
.product-items .product-item:hover img{
  transform: scale(.85) rotate(30deg);
  -webkit-transform: scale(.85) rotate(30deg);
  opacity: 1;
}
.product-items .product-item  .item-wrap .wrap-qtt .wrap-qtt-field-qtt,
.product-items .product-item  .item-wrap .wrap-qtt .wrap-qtt-minus-plus{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.product-items .product-item  .item-wrap .wrap-qtt .wrap-qtt-field-qtt{
  transition: .4s;
  -webkit-transition: .4s;
}
.product-items .product-item  .item-wrap .wrap-qtt .wrap-qtt-minus-plus{
  transition: .5s;
  -webkit-transition: .5s;
}
.btn-cart-qtt{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  border: none;
  background: none;
  background: #A9A9A9;
  color: #fff;
}
.btn-cart-qtt.btn-plus,
.wrap-qtt-field-qtt p,
.btn-cart-qtt.btn-minus{
  position: absolute;
  right: -10px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 10;
}
.wrap-qtt-field-qtt p{
  right: -15px;
}
/*-----*/
.wrap-qtt-field-qtt p{
  background: #C0C0C0;
    border: 2px solid #A9A9A9;
    border-radius: 50%;
    color: #111;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 30px;
}
.product-items .product-item:hover .wrap-qtt .wrap-qtt-field-qtt{
  opacity: 1;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}
/*-----*/
.btn-cart-qtt.btn-plus{
  right: 13px;
    top: 6px;
    transform: rotate(69deg);
    -webkit-transform: rotate(69deg);
}
.btn-cart-qtt.btn-minus{
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}
.product-items .product-item:hover .wrap-qtt .wrap-qtt-minus-plus{
  opacity: 1;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

.product-items .product-item .item-info{
  margin-top: 10px;
}
.product-items .product-item .item-info .item-title,
.product-items .product-item .item-info .item-price{
  text-transform: uppercase;
  font-weight: bold;
  color: #111;
}
.product-items .product-item .item-info .item-price{
  font-size: 15px;
  color: #111;
}
.link{
  position: absolute;
  bottom: 50px;
  right: 30px;
  font-size: 20px
}
.text
{
  width: 160px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.know
{
  margin-bottom: 15px;
  background-color:#111;
  text-align: center;
}
.know:hover
{
  background-color: #D3D3D3;
  border-radius: 10px;
}
.know a
{
  color:#fff;
}
.know a:hover
{
  color:#111;
}
.header
{

  text-align: center;
  margin-top: 15px;
  font-size: 50px;
}
.hww
{
  animation-name: in;
  animation-duration: 8s;
}

@keyframes in {
    0%{opacity:0}
    50%{opacity: 0.5}
    100%{opacity: 1}
}
