<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pistalix.ChristmasPhotoStickerFrames.PhotoEditor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Splash" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.Image_Edit_Screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.FreeCropActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.My_Creation_Activity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.textdemo.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.ImageEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.EraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.BackButton" />
        <activity android:name="pistalix.ChristmasPhotoStickerFrames.PhotoEditor.Activity.MainActivity"/>
    </application>

</manifest>