<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/lightbox.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/wow.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/gmaps.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
 <script src="{{ .Site.BaseURL }}js/animate.js"></script> 
