<section id="page-breadcrumb">
     <div class="vertical-center sun">
          <div class="container">
             <div class="row">
                 <div class="action">
                     <div class="col-sm-12">
                         <h1 class="title" style="color:#f9fcf6"><span class="letter" data-letter="P">Pistalix TV</span></h1>
                         <p style="color:#f9fcf6">Pistalix TV is powered by Raspberry Pi 3</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</section>

<section id="company-information" class="choose">
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6 wow scaleIn" style="margin-top:10px;" data-wow-duration="1000ms" data-wow-delay="100ms">
              <img src="{{ .Site.BaseURL }}images/services/features.png" class="img-responsive" alt="">
          </div>
          <div class="col-sm-6  wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
              <h1 style="font-weight: bold" >FEATURES</h1>
              <p>Pistalix TV is powered by Raspberry Pi 3, which has:</p>
              <ul class="elements">
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> 1.2GHz 64-bit quad-core ARMv8 CPU</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> WiFi - 802.11n Wireless LAN</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> Bluetooth 4.1</li>
                  <li style="color:#17202a;font-weight: bold; " class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> 1GB RAM </li>
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> 4 USB ports</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i> HDMI out</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="700ms"><i class="fa fa-angle-right"></i> Infrared Remote Sensor</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="800ms"><i class="fa fa-angle-right"></i> Combined 3.5mm A/V jack</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms"><i class="fa fa-angle-right"></i> Micro SD card slot</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1000ms"><i class="fa fa-angle-right"></i> VideoCore IV 3D graphics core.</li>
              </ul>
          </div>
        </div>
          <br>
          <div class="col-sm-12">
          <div class="col-sm-6 wow scaleIn"  style="margin-top:20px;" data-wow-duration="1000ms" data-wow-delay="100ms">
              <img src="{{ .Site.BaseURL }}images/services/usage-option.png" class="img-responsive" alt="">
          </div>
          <div class="col-sm-6  wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
              <h1 style="font-weight: bold">USAGE OPTIONS</h1>
              <p>This top-notch hardware, combined with our ingenious software, and the Pistalix TV App, gives you the following incredible features:</p>
              <ul class="elements">
                  <li style="color:#17202a; font-weight: bold;"class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> Cast any YouTube video from your phone, to your screen, using either your home WiFi network,or by creating a hotspot and using your mobile data.</li>
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> No USB ports in your TV? Not a problem. Pistalix TV has 4 USB ports that you can use to play, see, or listen to any kind of media on your TV.</li>
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> There is a host of media on your phone, from camera media, WhatsApp videos to movies, why watch it on the small screen when you have a huge one home? Furthermore, why let it occupy precious phone memory that slowes the phone down? You can transfer all your media files to your Pistalix TV within seconds (wirelessly), using the Pistalix TV application, and watch it later at your convineance. </li>
              </ul>
          </div>
        </div>
          <br>
          <div class="col-sm-12">
          <div class="col-sm-6 wow scaleIn"  style="margin-top:10px;" data-wow-duration="1000ms" data-wow-delay="100ms">
              <img src="{{ .Site.BaseURL }}images/services/box-kit.png" class="img-responsive" alt="" style="width:100%;">
          </div>
          <div class="col-sm-6  wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms" >
              <h1 style="font-weight: bold" >BOX KIT CONTENTS</h1>
              <p>Our Pistalix TV kit comes with the following contents:</p>
              <ul class="elements">
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>Pistalix TV Device </li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>A universal remote</li>
                  <li style="color:#17202a; font-weight: bold;" class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> HDMI Cable</li>
                  <li style="color:#17202a;font-weight: bold; " class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> Power Adapter</li>
                  <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> 16/32 GB Micro SD card with Pistalix TV Media software pre-installed</li>
              </ul>

          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6 wow scaleIn" style="margin-top:10px;" data-wow-duration="1000ms" data-wow-delay="100ms">
           <img src="{{ .Site.BaseURL }}images/services/pistalix_tv.png" class="img-responsive" alt="" style="width:100%;">
          </div>
          <div class="col-sm-6 wow scaleIn" style="margin-top:10px;" data-wow-duration="1000ms" data-wow-delay="100ms" >
              <iframe src="https://www.youtube.com/embed/vAsiaVxGOGE" style="height:100%" class="img-responsive" ></iframe>
              <ul class="elements">
                <li style="color:#17202a;font-weight: bold;" class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>Introductory Price : ₹ 4999/- </li>
              </ul>
              <a href="http://www.ebay.in/itm/Pistalix-TV-Convert-any-TV-or-screen-into-a-smart-TV-with-storage-Raspberry-Pi-3-/262634256643?hash=item3d2638b903:g:NmEAAOSwzaJX4QQO" target="_blank"><button type="button" class="btn btn-lg btn-info">Order Now</button></a>
          </div>
        </div>

        </div>
    </div>
</section>
<br>
