<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title" style="color:#f9fcf6">
                        <span class="letter" data-letter="P">Python</span></h1>
                        <p style="color:#f9fcf6" >We Use</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="/images/services/p.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6 padding-top">
                <p>Shoulder bresaola sausage consequat ground round duis excepteur exercitation landjaeger sunt. Duis officia sed frankfurter dolore pastrami tenderloin.</p>
                <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
          {{ $products := getJSON "/data/aboutus/python.json" }}
          {{ range $products }}
          <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="single-service">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="{{ .delay }}">
                  <img src="/{{ .image }}" alt="">
                </div>
                <h2>{{ .title }}</h2>
                <p>{{ .des }}</p>
              </div>
        </div>
        {{ end}}
    </div>
</div>
</section>
